@inherits LayoutComponentBase

<div class="background-container">
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>Daggerheart Helper</h3></Header>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
            <FluentNavLink Href="/CharacterCreator">Character Creator</FluentNavLink>
            <FluentNavLink Href="/Characters">My Characters</FluentNavLink>
        </NavMenuContent>
        <Body>
            @Body
        </Body>
    </FluentMainLayout>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>