<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="@Assets["_content/Daggerheart-Helper.Shared/app.css"]"/>
    <link rel="stylesheet" href="@Assets["Daggerheart-Helper.Web.styles.css"]"/>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
<script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
<loading-theme mode="dark" storage-name="daggerheart-theme"></loading-theme>

<FluentDesignTheme Mode="DesignThemeModes.Dark" CustomColor="#a78bfa" NeutralBaseColor="#0c0c14" StorageName="daggerheart-theme" />
<Routes @rendermode="InteractiveServer"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>
